[Unit]
Description=Enable encryption
AssertPathExists=/etc/initrd-release
DefaultDependencies=no
Conflicts=shutdown.target
After=initrd-usr-fs.target
Before=systemd-repart.service
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=rm -rf /run/repart.d
ExecStart=/usr/bin/cp -rT /sysusr/usr/lib/repart.d /run/repart.d
ExecStart=/usr/bin/gen-recovery-key

[Install]
WantedBy=initrd.target
