[Unit]
Description=Create initial user
ConditionFirstBoot=yes
Before=systemd-user-sessions.service

# yes this can be done with systemd-sysusers but im lazy and this will be removed eventually either way
[Service]
Type=oneshot
ExecStart=bash /usr/bin/create-user.sh

[Install]
WantedBy=multi-user.target
